.alert{
    color: #d9534f;
    margin: 0%;
    padding: 0%;
}

.form-control-feedback{
    color: #d9534f;
}

.form-control-feedback-ok{
    color: #5cb85c;
}

#logout {
    width: fit-content;
}

i{
    padding-right: 8px;
}