<app-common-navbar></app-common-navbar>

<div class="wrapper">
    <div class="page-header page-header-small" data-parallax="true" style="background-image: url('./assets/img/profile_background.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/profile_icon.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{actualUsername}}<br /></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Here you can configure your profile settings</p>
                    <br />
                </div>
            </div>
            <br/>
            <div class="row d-flex justify-content-center p-3">
                <form class="register-form" (ngSubmit) ="submit()" #userForm="ngForm">
                    <div class="form-group py-3">
                        <label>Email</label>
                        <input id="email" type="text" class="form-control" placeholder="Email" value="{{actualUser.email}}" name="email" [(ngModel)]="editedUser.email"
                        #email="ngModel" required maxlength="50" [ngClass]="email.invalid && email.dirty ? 'form-control is-invalid' : 'form-control'">
                        <div *ngIf="email.invalid && email.dirty" class="alert">
                            <div *ngIf="email.errors?.required">Required field</div>
                        </div>
                        <br>
                        <label>Contraseña</label>
                        <input id="password" type="password" class="form-control" placeholder="Contraseña" value="{{actualUser.password}}" name="password" [(ngModel)]="editedUser.password"
                        #password="ngModel" required minlength="6" [ngClass]="password.invalid && password.dirty ? 'form-control is-invalid' : 'form-control'">
                        <div *ngIf="password.invalid && password.dirty" class="alert">
                            <div *ngIf="password.errors?.required">Required field</div>
                            <div *ngIf="password.errors?.minlength">6 characters min</div>
                        </div>
                        <br>
                        <div class="row">
                            <button type="submit" class="btn btn-block btn-warning" [disabled] ="!userForm.form.valid">Edit</button>
                            <div *ngIf="editOk" class="form-control-feedback-ok">Account updated successfully!</div>
                            <div *ngIf="updateFail" class="form-control-feedback">Error updating data</div>
                        </div>
                        <br>
                        <div class="row">
                            <a class="btn btn-link btn-danger" (click)="open()">I want to delete my account</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row d-flex justify-content-center p-3">
                <button type="button" id="logout" class="btn btn-block btn-default" (click)="logout()"><i class="nc-icon nc-button-power"></i>Log out</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>