<app-common-navbar></app-common-navbar>
<div class="container">
    <div class="row">
        <a href="/products" routerLink="/products"><button type="button" class="btn btn-danger btn-link"><i class="nc-icon nc-minimal-left"></i><label class="l-button">See all products</label></button></a>
    </div>
    <div class="row py-3">
        <div class="col-md-6 col-sm-12">
            <img src="{{productChosen.image}}" alt="{{productChosen.name}}">
        </div>
        <div class="col-md-6 col-sm-12" id="details">
            <div class="col-12 text-left">
                <h3><b>{{productChosen.name}}</b></h3>
            </div>
            <hr>
            <div class="col-12 text-center" id="description">
                <p><i>{{productChosen.description}}</i></p>
            </div>
            <div class="col-12 text-center" id="price">
                <p><b>{{productChosen.price | number: '1.2-2'}} $</b></p>
            </div>
            <form [formGroup]="myForm">
                <div class="form-inline d-flex justify-content-center" id="quantityForm">
                    <label>Quantity:</label>
                    <input type="number" value="1" oninput="this.value==0 ? this.value=1 : this.value>99? this.value=99 : this.value = Math.abs(this.value)" id="quantity" formControlName="quantity" class="form-control" placeholder="1" size="2" maxlength="2" minlength="1" min="1" max="99" [(ngModel)]="quantity">
                </div>
            </form>
            <div class="d-flex justify-content-center" id="buttonAdd">
                <a><button type="button" class="btn btn-danger" (click)="addToCart()">ADD TO CART</button></a>
            </div>
        </div>
    </div>
    <div class="row px-3">
        <h4>Reviews</h4>
    </div>
    <ng-template #noreviews>
        <div class="row p-3 d-flex justify-content-center">
            <h5>There are currently 0 reviews, you can leave one now!</h5>
        </div>
    </ng-template>
    <div class="row" *ngIf="reviews != null && reviews.length>0 else noreviews">
        
    </div>
    <form (ngSubmit)="saveReview()" autocomplete="off" [formGroup]="reviewForm">
        <div class="row px-3">
            <fieldset class="rating" formControlName="rating">
                <input type="radio" id="star5" name="rating" [value]="5"/><label class = "full" for="star5" title="5 stars"></label>
                <input type="radio" id="star4" name="rating" [value]="4"/><label class = "full" for="star4" title="4 stars"></label>
                <input type="radio" id="star3" name="rating" [value]="3"/><label class = "full" for="star3" title="3 stars"></label>
                <input type="radio" id="star2" name="rating" [value]="2"/><label class = "full" for="star2" title="2 stars"></label>
                <input type="radio" id="star1" name="rating" [value]="1"/><label class = "full" for="star1" title="1 star"></label>
            </fieldset>
        </div>
        <div class="row px-3">
            <span class="form-text text-danger"
                          *ngIf="newReview.rating==0">
                        A rating is required
            </span>
        </div>
        <div class="row p-3">
            <textarea class="form-control" rows="4" placeholder="What do you think of this product?" [formControl]="comment" ></textarea>
        </div>
    </form>
</div>
<app-footer></app-footer>