.row {
    margin: 20px;
}

#subtitle1 {
    width: 100%;
}

#home-text-1 {
    padding: 20px;
}

#home-text-1 p {
    margin: 20px 0px;
}

#subtitle2 {
    width: 60%;
}

#home-text-2 {
    padding: 20px;
}

#home-text-2 p {
    margin: 20px 0px;
}

#takeaway {
    width: 90%;
}

#title3{
    margin: 20px;
    margin-bottom: 30px;
}

#home-text-3 p {
    margin: 20px 0px;
}

#subtitle3 {
    display: block;
    margin: auto;
    width: 30%;
}

#cafe1 {
    width: 100%;
}

#cafe2 {
    width: 100%;
}
