<app-common-navbar></app-common-navbar>
<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/background.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <img src="assets/img/logo-title.png">
                          <h3 class="title">Sign in</h3>
                          <form class="register-form" (ngSubmit) ="submit()" #userForm="ngForm">
                              <label>Username</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-single-02"></i>
                                  </span>
                                </div>
                                <input type="text" name="username" class="form-control" placeholder="Username" (focus)="focus=true" (blur)="focus=false" [(ngModel)] ="user.username" #username="ngModel" required maxlength="20">
                            </div>
                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="password" name="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)] ="user.password" #password="ngModel" required minlength="6">
                              </div>
                              <div *ngIf="loginFail" class="form-control-feedback">Error signing in</div>
                              <button type="submit" class="btn btn-danger btn-block btn-round" [disabled] ="!userForm.form.valid">Sign in</button>
                          </form>
                          <div class="forgot">
                              <a href="/register" routerLink="/register" class="btn btn-link btn-danger">Do not have an account? Create one!</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>