.pushbar .cart-menu {
    background: white;
    width: 365px;
    font-size: 18px;
}

.pushbar .btn-close .left{
    text-align: left;
}

.pushbar .btn-close button{
    background: none;
    color: gray;
    border: none !important;
    cursor: pointer;
    font-size: 20px;
}

.cart-menu .title {
    font-size: 22px;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.cart-menu .item {
    display: flex;
    justify-content:space-between;
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

.cart-menu .item img {
    width: 100%;
    max-width: 85px;
}

.cart-menu .text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
}

.cart-menu .name-item {

}

.cart-menu .total{
    margin: 40px 0px 20px 0px;
    display: flex;
    justify-content:space-between;
}

.cart-menu .total .total-price{
    
}