<div data-pushbar-id="cart-menu" class="pushbar cart-menu" data-pushbar-direction="right">
    <div class="btn-close left">
        <button data-pushbar-close><i class="fas fa-times"></i></button>
    </div>
    <p class="title">Cart</p>
    <div *ngFor="let item of items" class="item">
        <img src="{{item.product.image}}" alt="{{item.product.name}}">
        <div class="text">
            <p class="name-item">{{item.product.name}}</p>
            <p>{{item.product.price | number}} $</p>
        </div>
    </div>
    <div class="total">
        <p class="total-price">Total:</p>
        <p>{{total}} $</p>
    </div>
</div>