<app-dash-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-dash-sidebar>
<div class="container" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
    <div class="row d-flex justify-content-end px-3 pt-3 pb-0">
        <button type="button" id="logout" class="btn btn-block btn-default" (click)="logout()"><i class="nc-icon nc-button-power"></i>Log out</button>
    </div>
    <div class="row px-3 pb-3 pt-0">
        <h2>Orders</h2>
    </div>
    <div class="orders-table">
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th>Payment</th>
            <th>Date</th>
            <th>Items Details</th>
        </tr>
        <tr *ngFor="let order of orders">
            <td>{{order.id}}</td>
            <td>{{order.firstName}} {{order.lastName}}</td>
            <td>{{order.address}}</td>
            <td>{{order.postalCode}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.payment}}</td>
            <td>{{order.orderDate}}</td>
            <td><a [routerLink]="['/dashboard/orders', order.id]" routerLink="/dashboard/orders/{{order.id}}"><button id="see-more"
                        class="btn btn-outline-default btn-sm">See more</button></a></td>
        </tr>
    </div>
</div>