.container-main {
    margin-bottom: 60px;
}

.row {
    margin: 0px 20px;
}

#title1 {
    display: block;
    margin: auto;
    width: 30%;
}

#img1 {
    width: 100%;
}

#img2 {
    width: 94.5%;
}

#img3 {
    width: 99.5%;
}

#img4 {
    width: 96.5%;
}

#title2 {
    display: block;
    margin: auto;
    width: 22%;
}

#img5{
    width: 100%;
}

#title3 {
    display: block;
    margin: auto;
    width: 70%;
    height:min-content;
}

#title4 {
    display: block;
    margin: auto;
    width: 16%;
}

.map-container {
    width: 100%;
    height: 100%;
}