.container-main {
    margin-bottom: 130px;
}

.row {
    margin: 0px 20px;
}

#carousel-row {
    margin-top:30px;
}

h2 {
    font-family: "Aloevera", Arial, Helvetica, sans-serif;
    #t1 {
        color: #e63e3e;
    }
    #st3 {
        color: #4abb4e;
    }
}

#t2 {
    font-family: "Aloevera", Arial, Helvetica, sans-serif;
    color: #ffb33d;
}

#t3 {
    font-family: "Aloevera", Arial, Helvetica, sans-serif;
    color: #3d8cff;
}

#t4 {
    font-family: "Aloevera", Arial, Helvetica, sans-serif;
    color: #987bac;
}

#img1 {
    width: 100%;
    margin-bottom: 10px;
}

#img2 {
    width: 94.5%;
    margin-bottom: 10px;
}

#img3 {
    width: 99.5%;
    margin-bottom: 10px;
}

#img4 {
    width: 96.5%;
    margin-bottom: 10px;
}
#img5{
    width: 100%;
    margin-bottom: 10px;
}

.map-container {
    width: 80%;
    min-width: 300px;
    height: 80%;
    min-height: 300px;
}