#order-id {
    color: #f47463;
    font-weight: bold;
}

img {
    width: 100px;
    vertical-align: middle;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e8e9eb;
    padding: 10px 14px;
    width: 100%;
}

h4{
    margin:0px;
    padding: 5px 0px;
}