<app-common-navbar></app-common-navbar>
<div class="container" style="min-height:310px;">
    <div class="row">
        <a href="/products" routerLink="/products"><button type="button" class="btn btn-danger btn-link"><i class="nc-icon nc-minimal-left"></i><label class="l-button">See all products</label></button></a>
    </div>
    <div class="row p-3">
        <h2>Cart</h2>
    </div>
    <div class="row justify-content-center pb-5">
        <h5>Here you can check the products you added to your cart, ready to go?</h5>
    </div>
    <ng-template #noitems>
        <div class="row p-3 d-flex justify-content-center">
            <h4>Sorry! Your cart is empty  <i class='far fa-frown'></i></h4>
        </div>
    </ng-template>

    <div class="items-table" *ngIf="items != null && items.length>0 else noitems">
        <tr>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let item of items">
            <td>
                <div class="row d-flex align-items-center">
                    <div class="col-2 d-flex justify-content-center">
                        <img src="{{item.product.image}}" alt="{{item.product.name}}">
                    </div>
                    <div class="col-8">
                        <h4>{{item.product.name}}</h4>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" value="{{item.quantity}}" oninput="this.value==0 ? this.value=1 : this.value>99? this.value=99 : this.value = Math.abs(this.value)" id="quantity" class="form-control" placeholder="1" size="2" maxlength="2" minlength="1" min="1" max="99" name="quantity" [(ngModel)]="item.quantity" #quantity="ngModel">
            </td>
            <td>{{getItemPrice(item) | number:'1.2-2'}}$</td>
            <td id="delete"><i (click)="deleteItem(item)" class="nc-icon nc-simple-remove"></i></td>
        </tr>
        <div class="row d-flex justify-content-end px-3 pt-3 pb-0 center">
            <h3><b>Total:&nbsp;</b></h3>
            <h3 style="margin-right: 30px">{{getTotalPrice() | number:'1.2-2'}} $</h3>
        </div>
        <div class="row d-flex justify-content-end px-3 center">
            <a href="/order" routerLink="/order"><button type="button" class="btn btn-danger" style="margin-right: 30px">Order now</button></a>
        </div>
    </div>
</div>
<app-footer></app-footer>