<app-common-navbar></app-common-navbar>
<div class="container" style="min-height:310px;">
    <div class="row">
        <a href="/products" routerLink="/products"><button type="button" class="btn btn-danger btn-link"><i class="nc-icon nc-minimal-left"></i><label class="l-button">See all products</label></button></a>
    </div>
    <div class="row p-3">
        <h2>Cart</h2>
    </div>
    <ng-template #noitems>
        <div class="row p-3 d-flex justify-content-center">
            <h4>Sorry! Your cart is empty  <i class='far fa-frown'></i></h4>
        </div>
    </ng-template>

    <div class="items-table" *ngIf="items != null else noitems">
        <tr>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let item of items">
            <td>
                <div class="row d-flex align-items-center">
                    <div class="col-2 d-flex justify-content-center">
                        <img src="{{item.product.image}}" alt="{{item.product.name}}">
                    </div>
                    <div class="col-8">
                        <h4>{{item.product.name}}</h4>
                    </div>
                </div>
            </td>
            <td>{{item.quantity}}</td>
            <td>{{getItemPrice(item) | number:'1.2-2'}}$</td>
        </tr>
        <div class="row d-flex justify-content-end p-3 center">
            <h3><b>Total:&nbsp;</b></h3>
            <h3>{{total | number:'1.2-2'}} $</h3>
        </div>
        <div class="row d-flex justify-content-end py-4 px-3 center">
            <button type="button" class="btn btn-danger">Order now</button>
        </div>
    </div>
</div>
<app-footer></app-footer>