.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

button:active {
    background-color: white!important;
}

.l-button {
    vertical-align: middle;
    margin: 0px 0px 0px 4px;
    cursor: pointer;
}

.error-text{
    color: red;
}

.info p{
    font-size: 14px!important;
}

