<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.instagram.com/cafe_skon/">Follow us on Instagram <i class="fa fa-instagram"></i></a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>
